<table>
    <tr>
        <td><img src="image/icon1.png" alt="">
            <span>Выезд на место ДТП</span></td>
        <td><img src="image/icon2.png" alt="">
            <span>Оценка ущерба</span></td>
        <td><img src="image/icon3.png" alt="">
            <span>фотосъемка места происшествия</span></td>
    </tr>
    <tr>
        <td><img src="image/icon4.png" alt="">
            <span>Составление пакета документов</span></td>
        <td><img src="image/icon5.png" alt="">
            <span>Полное сопровождение</span></td>
        <td> <img src="image/icon6.png" alt="">
            <span>Услуги эвакуатора</span></td>
    </tr>
</table>