body{
    margin:0;
    padding:0;
    font-family: 'Open Sans', sans-serif;
}
h1,h2,h3{
	margin:0;
	padding:0;
}
.b-container {
	width: 960px;
	margin: 0 auto;
}
.b-head {
	background: url(images/background.png) no-repeat 50% top / cover;
	padding-top: 20px;
	padding-bottom: 70px;
}
.b-header {
	margin-bottom: 30px;
}
.b-logo {
	display: inline-block;
	vertical-align: middle;
	margin-right: 30px;
}
.b-call {
	display: inline-block;
	vertical-align: middle;
	font-family: 'Open Sans Condensed', sans-serif;
	text-align: right;
	background: rgba(225, 227, 231, 0.8);
	border-radius: 10px;
	padding: 15px;
	font-size: 36px;
	position: relative;
}
.b-call:before {
	content: "";
	display: inline-block;
	border: 15px solid rgba(225, 227, 231, 0.8);
	border-left-width: 0;
	border-top-color: transparent;
	border-bottom-color: transparent;
	position: absolute;
	left: -15px;
	top: 50%;
	margin-top: -15px;
}
.b-call__text {
	margin: 0;
}
.b-call__text--color {
	text-transform: uppercase;
	color: #bb1d1f;
	display: block;
	background: transparent;
}
.b-call__tel {
	font-size: 48px;
	color: #000;
	text-decoration: none;
	background-image: linear-gradient(to right, #000 0, #000 16px, transparent 16px);
 	background-size: 28px 3px;
    background-repeat: repeat-x;
    background-position: 0% 90%;
}
.b-call__tel:hover {
	color: #bb1d1f;
	background-image: linear-gradient(to right, #bb1d1f 0, #bb1d1f 16px, transparent 16px);
}
.b-connection-call {
	font-size: 36px;
	font-weight: 300;
	flex-direction: column;
	align-items: start;
	margin-bottom: 30px;
}
.b-connection__item{
	margin-bottom: 10px;
}
.b-connection__text {
	margin: 0;
	margin-bottom: 10px;
	background: #fff;
	text-transform: uppercase;
	padding-left: 18px;
	padding-right: 35px;
}
.b-connection__text--color {
	color: #bb1d1f;
	font-weight: 600;
	background: #fff;
}
.b-connection__tel {
	color: #000;
	text-decoration: none;
}
.b-connection__tel:hover {
	color: #bb1d1f;
}
.b-connection__input {
	margin-bottom: 35px;
	position: relative;
	text-transform: uppercase;
}
.b-connection-label {
	position: absolute;
	font-weight: 600;
	color: #bb1d1f;
	font-size: 36px;
	left: 7px;
	top: 5px;
}
.b-input {
	font-size: 36px;
	border: none; 
	outline: none;
	background: transparent;
	border-bottom: 2px solid #000;
	padding-left: 35px;
	padding-right: 45px;
}
.b-input::placeholder {
	text-transform: uppercase;
	color: #000;
}
.b-connection-bth {
	border: none;
	background: #bb1d1f;
	border-radius: 5px;
	box-shadow: 3px 3px 10px #000;
	color: #fff;
	text-transform: uppercase;
	font-size: 24px;
	padding: 5px 25px;
	outline: none;
}
.b-connection-bth:hover {
	cursor: pointer;
	box-shadow: 3px 3px 10px #000;
	transform: scale(1.1);
}
.b-job{
	background-color: #ffffff;
	padding-top:60px;
	padding-bottom: 20px;
}
.b-headline{
	font-size: 48px;
	font-weight: normal;
	text-transform: uppercase;
	margin-bottom: 50px;
}
.b-work{
	margin: 0;
	list-style: none;
	padding: 0;
}
.b-work__item {
	display: inline-block;
	width: 33%;
	margin-bottom: 30px;
}
.b-work-item__picture {
	display: inline-block;
	vertical-align: middle;
	border-radius: 50%;
  	overflow: hidden;
  	width: 139px;
  	height: 139px;
}
.b-work-item__text {
	display: inline-block;
	vertical-align: middle;
	width: 140px;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 16px;
}
.b-work__item--color{
	color:#bb1d1f;
	background: none;
}
.b-advantages{
	background:#f7f7f7;
	padding-top: 80px;
	padding-bottom: 50px;
}
.b-advantages-list{
	list-style: none;
	margin:0;
	padding: 0;
	padding-left:30px;
}
.b-advantages-list__line{
	font-size: 24px;
	text-transform: uppercase;
	line-height: 70px;
	vertical-align: center;
}
.b-advantages-list__checkmark {
    display: inline-block;
    width: 45px;
    height: 20px;
    transform: rotate(45deg);
    transform: rotate(45deg);
	transform: rotate(45deg);
	margin-right: 20px;
}
.b-advantages-list__checkmark-stem {
    position: absolute;
    width: 7px;
    height: 26px;
    background-color: #e84245;
    left: 25px;
    top: -8px;
}
.b-advantages-list__checkmark-kick {
    position: absolute;
    width: 20px;
    height: 6px;
    background-color: #e84245;
    left: 12px;
    top: 12px;
}
.b-actions{
	padding-top: 110px;
	padding-bottom: 90px;
}
.b-actions-situation{
	text-transform: uppercase;
	font-size: 28px;
	padding-left: 160px;
	letter-spacing: -2;
}
.b-actions-information{
	margin: 0 auto;
	margin-top:26px;
	padding-left: 30px;
	padding-right: 20px;
	border: 3px solid #ff9c00;
	border-radius: 10px;
	box-sizing: content-box;
	width:780px;
	text-align: center;
	position: relative;
}
.b-actions-information--incline{
	font-style:italic;
}
.b-actions-information--weight{
	font-weight: bold;
}
.b-actions-information:before {
	content: "!";
	font-size: 260px;
	font-weight: 600;
	position: absolute;
	left: 20px;
	top: -210px;
}
.b-connection-bottom--color{
	padding-top:30px;
	padding-bottom: 30px;
	background-color: #bb1d1f;
}
.b-connection-bottom__item{
	color:#fff;
	font-size: 24px;
}
.b-connection-bottom__tel{
	text-decoration: none;
	color:#fff;
}
.b-connection-bottom__tel:hover{
	color:#000;
}
.b-connection-bottom__name{
	text-transform: uppercase;
	color:#fff;
	font-size: 24px;
	background: none;
}
.b-connection-bottom__form{
	text-align: center;
}
.b-connection-bottom__item{
	color:#fff;
	padding-bottom: 30px;
	text-align: center;
}
.b-input-battom{
	width: 270px;
	font-size: 18px;
	text-transform: uppercase;
	border: none;
	outline: none;
	padding: 5px 10px;
	margin-right: 10px;
	box-sizing: border-box;
	color: #000;
}
.b-connection-bth__batton{
	width: 270px;
	border: 2px solid #fff;
	background: #bb1d1f;
	font-size: 20px;
	text-transform: uppercase;
	padding:2px 20px;
	outline: none;
	color:#fff;
}
.b-connection-bth__batton:hover{
	background: #fff;
	cursor: pointer;
	color:#000;
}
.b-input-bottom{
	border:none;
}
.b-ending {
	padding-top: 40px;
	padding-bottom: 40px;
	text-align-last: justify;
}
.b-ending-call {
	display: inline-block;
}
.b-copyright {
	display: inline-block;
	width: 200px;
}
.b-ending-logo {
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
}
.b-ending-phone {
	display: inline-block;
	vertical-align: middle;
	text-decoration: none;
	color: #000;
	font-size: 22px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 700;
	background-image: linear-gradient(to right, #000 0, #000 8px, transparent 8px);
 	background-size: 18px 1px;
    background-repeat: repeat-x;
    background-position: 0% 90%;
    margin-top: -10px;
}
.b-ending-phone:hover {
	color: #bb1d1f;
	background-image: linear-gradient(to right, #bb1d1f 0, #bb1d1f 8px, transparent 8px);
}
.b-ending-desc {
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 700;
	font-size: 21px;
}
.b-ending-logo {
	display: inline-block;
}
.b-copyright-desc {
	display: inline-block;
	font-size: 14px;
	color: #9b9b9b;
	width: 125px;
}
